/*
body {
    margin: 30%;
    width: 66%;
    max-height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    top: -25%;
}
*/
/*https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Realizing_common_layouts_using_CSS_Grid_Layout*/

html, body {
    height: 100%;
    width: 100%;
}

.main-header {
    grid-area: header;
    background-color: darkslategray;
}

.main-nav {
    grid-area: nav;
    background-color: darkgray;
}

.page-header {
    grid-area: pageHead;
    background-color: lightslategrey;
}

.container{
    grid-area: content;
    background-color: aquamarine;
}
/*
.container>div {
    overflow: scroll;
    background-color: crimson;
}
*/

.main-footer {
    grid-area: footer;
    background-color: cadetblue;
   
}

.wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
        "header"
        "nav"
        "pageHead"
        "content"
        "footer";
}

@media (min-width: 500px) {
    .wrapper {
        grid-gap: 20px;
        max-height: 100%;
        min-height: 100%;
        overflow: scroll;
        grid-template-columns: 1fr 2fr 1fr 1fr;
        grid-template-rows: 50px 50px 50px auto 50px;
        grid-template-areas: 
            "header . . ."
            "nav pageHead . ."
            "nav content content ."
            ". content content ."
            "footer footer footer footer"
    }
    
    html, body {
        position: absolute;
        overflow: hidden;
        margin: 0;
    }
    
    .main-header {
        position: fixed;
    }
    
    .main-nav {
        position: sticky;
    }
    
    .page-header {
       position: sticky;
    }
    
    .container {
        overflow: scroll;
    }
    .main-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}


footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
