/*
body {
    margin: 30%;
    width: 66%;
    max-height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    top: -25%;
}
*/
/*https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Realizing_common_layouts_using_CSS_Grid_Layout*/

html {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    overflow: hidden;
}
/*
.main-header {
    grid-area: header;
    padding: 10px;
}

.main-nav {
    grid-area: nav;
}

.page-header {
    grid-area: pageHead;
    width: 100%;
}

.container{
    grid-area: content;
    overflow: auto;
}

.main-footer {
    grid-area: footer;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
*/

@media (max-width: 499px) {
    .wrapper {
        display: grid;
        grid-gap: 20px;
        grid-template-areas: 
            "header"
            "nav"
            "pageHead"
            "content"
            "footer";
    }
}

@media (min-width: 500px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        /*grid-template-rows: 1fr 0.5fr 3.5fr 1fr;*/
        grid-template-rows: 20% 10% auto 10%;
        /*grid-template-areas: "header . . nav" ". pageHead . ." ". content content ." "footer footer footer footer";*/
        /*overflow: hidden;*/
        justify-content: center;
        z-index: -2;
    }

    .main-header { 
        /*grid-area: header; */
        grid-row: 1;
        grid-column: 1;
        z-index: 2;
    }
    
    .main-nav { 
        /*grid-area: nav;*/
        grid-row: 1/-1;
        grid-column: 4;
        z-index: 2;
    }

    .page-header { 
        /*grid-area: pageHead;*/
        grid-row: 2;
        grid-column: 2;
        z-index: 1;
    }

    .container { 
        /*grid-area: content; */
        grid-row: 3;
        grid-column: 2/4;
        z-index: 0;
        overflow-y: scroll;
    }


    .main-footer { 
        /* grid-area: footer; */
        grid-row: 4;
        grid-column: 1/4;
        z-index: 2;
        bottom:0;
        position: fixed;
    }   
}

footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

footer ul li {
    margin-left: 0%;
    display: block;
}

#leftBlank {
  font-family: monospace, 'Courier New';
  font-size: 1vw;
  font-weight: bold;
  white-space: nowrap;
  text-align: center;
}

nav ul {
    display:block;
    list-style-type: none;
    line-height: 5em;
}

nav ul li {
    display: block;
    font-size: 2em;
    font-weight: bold;
    font-family: 'Helvetica';
    color: black;
}

a:link {
  text-decoration: none;
  color: #65a575;
}

a:visited {
  text-decoration: none;
  color: #396043;
}

a:hover {
  text-decoration: none;
  color: #132016;
}

a:active {
  text-decoration: none;
  color: black;
}

.main-footer>a {
   text-decoration: none;
   color: ghostwhite;
}
