/*
body {
    margin: 30%;
    width: 66%;
    max-height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    top: -25%;
}
*/
/*https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Realizing_common_layouts_using_CSS_Grid_Layout*/

body {
    height: 100%;
    width: 100%;
/*    position: relative;*/
}

.main-header {
    grid-area: header;
    background-color: darkslategray;
/*    margin-left: 2%;*/
/*    margin-top: 5%;*/
    padding: 10px;
/*    align-self: center;*/
}

.main-nav {
    grid-area: nav;
    background-color: darkgray;
/*    align-self: flex-end;*/
}

.page-header {
    grid-area: pageHead;
    background-color: lightslategrey;
/*    align-self: flex-start;*/
}

.container{
    grid-area: content;
    background-color: aquamarine;
/*    align-self: stretch;*/
}

.main-footer {
    grid-area: footer;
    background-color: cadetblue;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
        "header"
        "nav"
        "pageHead"
        "content"
        "footer";
}

@media (min-width: 500px) {
    .wrapper {
        grid-gap: 20px;
        max-height: 100%;
        min-height: 100%;
/*        overflow: scroll;*/
        grid-template-columns: 1fr 2fr 1fr 1fr;
        grid-template-rows: 50px 100px 150px auto 50px;
        grid-template-areas: 
            "header . . ."
            "nav pageHead . ."
            "nav content content ."
            ". content content ."
            "footer footer footer footer"
    }
    
    html, body {
/*        position: absolute;*/
/*        overflow: hidden;*/
        margin: 0;
    }
    
    .main-header>div {
        position: fixed;
    }
    
    .main-nav>div {
        position: fixed;
    }
    
    .page-header {
       position: sticky;
    }
    
    .container {
        overflow: scroll;
        bottom: 50px;
        border: 10px solid black;
    }
    /*
    .container>div {
        overflow: scroll;
        background-color: crimson;
    }
    */
}


footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

footer ul li {
    display: block;
}

#leftBlank {
  font-family: monospace, 'Courier New';
  font-size: 100%;
  font-weight: bold;
  white-space: nowrap;
}

nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    display:block;
    list-style-type: none;
    line-height: 5em;
}

nav ul li {
    display: block;
    font-size: 1.5em;
    font-family: 'Helvetica';
    color: black;
}