<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			
			<nav>
	    		<h1 id="myName">Augustin <br />Burchell</h1>
			<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<!-- <li><a href="/cv">CV</a></li> -->
	        		<li><a href="/blog">Works</a></li>
				<li><a href="/wordjournal">Word Journal</a></li>
				<!-- <li><a href="/satire">Satire</a></li> -->

	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li>aburche1@swarthmore.com</li>
	        		<li><a href="https://github.com/aburchell">github.com/aburchell</a></li>
				</ul>
			</footer>
		</body>
	</html>
