<!DOCTYPE html>
<html lang="en">
    {% include header.html %}
    <body class="wrapper">
        <article>
            <h1 class="page-header">
                {{ page.title }}
            </h1>
            <p class="subtitle">
                {% include navigation.html %}
            </p>

            <div class="container">
            {{ content }}
            </div>

            <!-- {% include myName.html %} --> 

            {% include footer.html %}
        </article>
    </body>
</html>
