
<!DOCTYPE html>
<html lang="en">
    {% include header.html %}
    <body class="wrapper">
        <article>
            <h1 class="page-header">
                Augustin Burchell
            </h1>
            <p class="subtitle">
                but I just go by Gus.
            </p>
            <section>
                {% include navigation.html %}
            </section>
            <section>
                {% include footer.html %}
            </section>
        </article>
    </body>
</html>
